<header class="space-head">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['']">HOME</a>
            <ul class="navbar-nav flex-row">
                <div class="d-flex"
                    *ngIf="isLogout();else disconnected">
                    <li class="nav-item mr-1">
                        <a class="nav-link" (click)="logout()">
                            <i class="fa fa-sign-out mr-2"></i>logout
                        </a>
                    </li>
                    <li class="nav-item mr-1">
                        <a class="nav-link" [routerLink]="['list']">
                            <i class="fa fa-list-alt mr-2"></i>List
                        </a>
                    </li>
                </div>
                <ng-template #disconnected>
                    <li class="nav-item mr-1">
                        <a class="nav-link" [routerLink]="['']">
                            <i class="fa fa-sign-in mr-2"></i>signin
                        </a>
                    </li>
                </ng-template>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['form']">
                        <i class="fa fa-user-plus mr-2"></i>Form
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
